<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="registro-articulos">
  <template>
    <style>
      :host {
        display: block;
      }
      input{
        size: 30px;
      }
     
    </style>
    <h3>Ingrese los datos del Articulo.</h3>
    <fieldset>
    <form >
      <div>
        <label for="nombre" id="existe"></label>
        <input  type="text" 
        id="nombre" name="nommbre" placeholder="Nombre del articulo" value="{{nombre::input}}" required="[[requered]]" size="40" ></input>
        <br><br>
        <label for="marca"></label>
        <input type="text" id="marca" name="marca" placeholder="Marca" value="{{marca::input}}" required="[[requered]]" size="40"></input>
        <br><br>
        <label for="precio"></label>
        <input type="text" id="precio" name="precio" placeholder="Precio" value="{{precio::input}}" required="[[requered]]" size="40"></input>
        <br><br>
        <label for="estado"></label>
        <input type="text" id="estado" name="estado" placeholder="Estado"  value="{{estado::input}}" required="[[requered]]" size="40"></input>
        <br><br>
      </div>
      <div>
        <button  type="submit" onclick="comprobarArticulo()">Enviar</button>
      </div>
    </form>
  </fieldset>
  </template>

  <script>
    class RegistroArticulos extends Polymer.Element {
      static get is() { return 'registro-articulos'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            notify: true,
            observer: 'existeArticulo'
          },
          marca: {
            type: String,
            notify: true
        },
          precio: {
            type: String,
            notify: true
          },
          estado: {
            type: String,
            notify: true
          },
          requered: Boolean
      }
      
      }
      ready(){
        super.ready()
        this.addEventListener('valor-escrito-changed', (e) =>{
          console.log('evento lanzado',e)
        })
      }

      existeArticulo() {
        let nom = this.shadowRoot.getElementById('nombre')
        if(nom != this.nombre){
          console.log('valor registrado exitosamente')
          console.log('El valor se ha guardado'+nom.value)
        }else
        console.log('Elija otro articulo')
      }

      comprobarArticulo(key){
        let nom = this.shadowRoot.getElementById('nombre')
        let llave = false
        let pos = 0
        this.nombre.array.forEach(key => {
          if(nom.value == key.nombre){
            llave = true
            pos = this.nombre.findIndex(elemento => elemento.nombre === nom.value)
            console.log(pos)

          }
        });
        if(!llave){
          console.log(`El articulo ${nom.value} ha sido guardado exitosamenete`)
        }
      }

    }
    window.customElements.define(RegistroArticulos.is, RegistroArticulos);
  </script>
</dom-module>